<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 class="h1 mb60">Enter</h1>
  <label class="login-label mb16">
    Username
    <input
      formControlName="username"
      class="login-input"
      type="text"
      placeholder="Login"
    />
  </label>
  <label class="login-label mb32">
    Password
    <input
      formControlName="password"
      class="login-input"
      type="password"
      placeholder="Password"
    />
  </label>
  <button class="btn btn-shadow" type="submit">Sign In</button>
</form>
<img src="assets/images/svg/logo-big.png" alt="logo" />
