:host {
  display: block;
  padding: 20px 12px;
}

.main-menu-list {
  display: grid;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center; 
  gap: 12px;
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
  border-radius: 2px;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background: var(--dark-hover-color);
    color: var(--primary-color);

    svg {
      color: var(--primary-color);
    }
  }
}

.menu-item svg {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor; 
  position: relative;
  top: -2px; 
}
